@page "/contact-form"

<EditForm Model="@user" class="w-50 mx-auto" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <h3 class="fw-bold" style="margin-left: 200px;">Customer Contact Form</h3>

    <div class="form-group" style="margin-bottom: 15px;">
        <label>Full name *</label>
        <input class="form-control" placeholder="Enter your Fullname" @bind="@user.Fullname">
        <ValidationMessage For="@(() => user.Fullname)" class="text text-danger"></ValidationMessage>
    </div>

    <div class="form-group" style="margin-bottom: 15px;">
        <label>Email *</label>
        <input class="form-control" placeholder="Enter your Email" @bind="user.Email">
        <ValidationMessage For="@(() => user.Email)" class="text text-danger"></ValidationMessage>

    </div>

    <div class="form-group" style="margin-bottom: 15px;">
        <label>Phone Number *</label>
        <input class="form-control" placeholder="Enter your Phone Number" @bind="user.PhoneNumber">
        <ValidationMessage For="@(() => user.PhoneNumber)" class="text text-danger"></ValidationMessage>
    </div>

    <div class="form-group" style="margin-bottom: 15px;">
        <label>Address</label>
        <input class="form-control" placeholder="Enter your Address" @bind="user.Address">
    </div>

    <div class="form-group" style="margin-bottom: 15px;">
        <label>Message *</label>
        <textarea class="form-control" placeholder="Enter your message" style="height: 100px;"
            @bind="user.Message"></textarea>
        <ValidationMessage For="@(() => user.Message)" class="text text-danger"></ValidationMessage>
    </div>

    <div class="form-group" style="margin-bottom: 15px;">
        <label>Select Service *</label>
        <select class="form-control" @bind="user.Service">
            <option>Choose...</option>
            @foreach (var item in Services.lstServices)
            {
                <option value="@item">@item</option>
            }
        </select>
        <ValidationMessage For="@(() => user.Service)" class="text text-danger"></ValidationMessage>
    </div>

    <div class="form-group d-flex align-items-center gap-2" style="margin-bottom: 15px;">
        <input class="form-check-input" type="checkbox" id="agree" @bind="user.Agree" />

        <div>
            <label class="form-check-label" for="agree">
                I agree to the terms and conditions *
            </label>
        </div>
        <div>
            <ValidationMessage For="@(() => user.Agree)" class="text-danger" />
        </div>
    </div>

    <button class="btn btn-primary w-100" type="submit">Submit</button>

</EditForm>

@code {
    public User user = new User();
    public void HandleSubmit()
    {
        string value = JsonSerializer.Serialize(user);
        Console.WriteLine(value);
    }
}
